
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >

    {% block navbar_front %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" >
                <img src="http://kordouane.k.o.pic.centerblog.net/cbac2be3.png" width="100" height="60" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('Front_suivi') }}">Suivi </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('Front_saisie') }}">Saisie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('Front_FAQ') }}">FAQ</a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock %}
</head>